/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Epilogue', sans-serif;
}

.naym {
	font-family: 'Poppins', sans-serif;
}

.letter-green {
	color: #36f80a;
}

/*Scrollbar Start*/
::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: black;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #36f80a;	
}
/*Scrollbar End*/


.border-success {
	border-color: #36f80a !important;
}

.btn-outline-success {
	border-color: #36f80a !important;
}

.btn-outline-success:hover {
	background-color: #36f80a !important;
	color: black !important;
}

.circle-border {
	border-radius: 50%;
	border-width: 2px;
}

.introduction1 {
	margin-top: 15%;
	display: inline-block;
	text-align: left;

}

.introduction2 {
	display: inline-block;
	margin-top: 35%;
	margin-left: 20%;
}

.introduction3 {
	display: inline-block;
	margin-top: 25%;
	margin-left: 20%;
}

.introduction4 {
	display: inline-block;
	margin-top: 30%;
}

.spacer-top {
	margin-top: 30%;
}

.intro1 {
	color: #36f80a;
}

.intro2 {
	font-weight: bolder;
	color: white;
}

.intro3 {
	color: #36f80a;
}

.intro4 {
	margin-right: 30%;
	margin-top: 5%;
}

.wew {
	color: #36f80a;
	text-decoration: none;
}

.img1 {
	width: 40%;
	height: 40%;
}

.img2 {
	width: 50%;
	margin-left: 25%;
}

.img3 {
	width: 75px;
	height: 75px;
}

.row1 {
	margin-top: 5%;
}

.ul1 {
	text-decoration: none;
}


.card {
	width: 30rem;
	height: 30rem;
}

.navbar {
    background-color: rgba(0,0,0,0.8);
}

.toolbox {
	border: 1px solid #36f80a;
	display: inline-block;
	height: 200px;
	width: 200px;
}

.custom-ul {
	list-style-type: none;
}

.anchor {
	text-decoration: none;
	color: #36f80a;
}

.anchor:hover {
	color: inherit;
}


