body, html {
	height: 100%;
}

body {
	color: #444;
	font-weight: 200;
	font-size: 1.5rem;
}

/*Google Font*/
/*font-family: 'Volkhov', serif;*/
/*font-family: 'Mate', serif;*/
/*font-family: 'Space Mono', monospace;*/

.navbar {
	background: #313638;
}

.content-left {
	background: #313638;
	position: fixed;
	left: 0;
	width: 33.3333%;
	height: 100%;
	font-family: 'Prata', serif;
}

.content-right{
	background-color: #FFFCF9;
	font-family: 'Lato', sans-serif;
}

.full-height {
	height: 100%;
}

@media (max-width: 768px) {
	.intro-left {
		height: 40vh;
		width: 100%;
		margin-bottom: 0;
		position: relative;
	}
}

.mypic {
	width: 10rem;
	height: 10rem;
	margin: 1rem;
	border-radius: 50%;
}

.quote {
	float: right;
}

section {
	margin: 5rem;
	font-size: 1.2rem;
}

.custom-img {
	height: 434.66px;
	width: 434.66px;
}

.custom-anchor,.custom-anchor:hover {
	text-decoration: none;
	color: white;
}

li {
	font-size: 1rem;
}

.footer {
	background-color: #313638;
	font-size: 1rem;
}

.font1 {
	font-family: 'Volkhov', serif;
}

.font2 {
	font-family: 'Mate', serif;
}

.font3,li {
	font-family: 'Space Mono', monospace;
}